In [ ]:
# Run this whenever you shut down the VM
# !pip3 install cassandra-driver --user
# !pip install folium
# !pip install --upgrade pip

In [24]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
from cassandra.query import SimpleStatement

import pandas as pd

def pandas_factory(colnames, rows):
    return pd.DataFrame(rows, columns=colnames)
def connect():
    cluster = Cluster(
        contact_points=['172.31.22.32'], 
        auth_provider = PlainTextAuthProvider(username='tomcat', password='drawsweb'),
        connect_timeout = 20,
        control_connection_timeout=None
    )
    session = cluster.connect()
    session.set_keyspace('disruptionwarning')
    session.row_factory = pandas_factory
    session.default_fetch_size = 1000000 #needed for large queries, otherwise driver will do pagination. Default is 50000.
    return session

session=connect()
query = "SELECT * FROM airport" 
statement = SimpleStatement(query, fetch_size=10)
rows=session.execute(query)

df.head()

,icao,city,country,iata,latitude,longitude,name,timezone
0,8OI3,"Cortland, OH",None,None,41.373390,-80.668968,Allen,America/New_York
1,LELO,LogroÃƒÂ±o-Agoncillo,None,RJL,42.454200,-2.320830,LogroÃƒÂ±o-Agoncillo Airport,Europe/Madrid
2,22WV,"Grafton, WV",None,None,39.343613,-80.029167,Grafton City Hospital,America/New_York
3,5CO1,"Austin, CO",None,None,38.833317,-107.858948,Spruce Point Tree Farm Llc,America/Denver
4,5II7,"Fort Wayne, IN",None,None,41.064445,-85.160004,Fort Wayne-District Operations,America/New_York